<th:block th:with="index_category =${theme.config.index.featured_cate}">
  <section class="for-cates" th:unless="${#lists.isEmpty(index_category)}">
    <hgroup class="part-title">
      <h2><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <path fill="currentColor"
              d="M100 0c3.395 53.76 46.24 96.605 100 100-53.76 3.395-96.605 46.24-100 100-3.395-53.76-46.24-96.605-100-100C53.76 96.605 96.605 53.76 100 0Z">
            </path>
          </svg></i>精选分类</h2>
    </hgroup>
    <ul class="cate-list">
      <th:block th:each="customCategory : ${index_category}">
        <li th:with="category = ${categoryFinder.getByName(customCategory)}" class="cate">
          <hgroup>
            <i th:text="${category.spec.slug}"></i>
            <h3 th:text="${category.spec.displayName}"></h3>
            <p th:if="${not #strings.isEmpty(category.spec.description)}" class="line-clamp font-small" th:text="${category.spec.description}"></p>
            <a class="read-more icon-right" th:href="@{${category.status.permalink}}" target="_blank"
              role="button">进入分类</a>
          </hgroup>
          <ul class="post-list snap-style no-scrollbar" th:with="posts = ${postFinder.listByCategory(1,4,category.metadata.name)}">
            <li class="post fade-before" th:each="post : ${posts.items}">
              <figure>
                <img th:unless="${#strings.isEmpty(post.spec.cover)}" width="128" height="53"
                  th:src="${thumbnail.gen(post.spec.cover, 'm')}"
                  class="attachment-thumbnail size-thumbnail" alt="" decoding="async">
                <div th:if="${#strings.isEmpty(post.spec.cover)}" class="no-thumbnail"></div>
              </figure>
              <article>
                <h6 class="post-title line-clamp">
                  <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
                </h6>
                <p th:if="${!post.spec.excerpt.autoGenerate}" class="post-dec font-small line-clamp"
                  th:text="${post.spec.excerpt.raw}"></p>
                <div class="post-meta font-small">
                  <time class="thyuu-icon icon-calendar" th:datetime="${post.spec.publishTime}">
                    <th:block th:replace="~{modules/widgets/time :: time(${post.spec.publishTime})}">
                    </th:block>
                  </time>
                  <span class="thyuu-icon icon-heats" th:text="|${post.stats.visit}°|"></span>
                  <span class="thyuu-icon icon-pinglun-title"><a th:href="|@{${post.status.permalink}}#comments|"
                      th:text="${post.stats.comment > 0 ? post.stats.comment+'条' : '来说一句'}"></a></span>
                </div>
                <a class="read-more" th:href="@{${post.status.permalink}}" target="_blank" role="button"></a>
              </article>
            </li>
          </ul>
        </li>
      </th:block>
    </ul>
  </section>
</th:block>